.twentytwenty-handle:before, .twentytwenty-handle:after {
	content: " ";
	display: block;
	width: 3px;
	background: white;
	height: 9999px;
	position: absolute;
	left: 50%;
	margin-left: -1.5px;
	z-index: 30;
}
.twentytwenty-left-arrow, .twentytwenty-right-arrow {
	width: 0;
	height: 0;
	border: 6px inset transparent;
	position: absolute;
	top: 50%;
	margin-top: -6px;
}
.twentytwenty-container {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	overflow: hidden;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.twentytwenty-container img {
    position: absolute;
    top: 0;
    display: block;
}
.twentytwenty-container>img {
	width: 100%;
}
.twentytwenty-container * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
    box-sizing: content-box;
}

.twentytwenty-before {
	z-index: 20;
}
.twentytwenty-after {
	z-index: 10;
}

.twentytwenty-handle {
	height: 38px;
	width: 38px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -22px;
	margin-top: -22px;
	border: 3px solid #fff;
	border-radius: 50%;
	z-index: 40;
}
.twentytwenty-handle:before {
    bottom: 50%;
    margin-bottom: 22px;
}
.twentytwenty-handle:after {
    top: 50%;
    margin-top: 22px;
}
.twentytwenty-left-arrow {
	border-right: 6px solid white;
	left: 50%;
	margin-left: -17px;
}
.twentytwenty-right-arrow {
	border-left: 6px solid white;
	right: 50%;
	margin-right: -17px;
}